{% extends 'base.html' %}

{% block title %}
My invites
{% endblock title %}

{% block content %}
  {% if is_empty %}
    <h1>No invitations here...</h1>
  {% endif%}

  {% for obj in qs %}
    <div class='ui segment'>
      <div class='ui grid'>
        <div class='row'>
          <div class='three wide column'>
            <img class='ui small circular image' src={{obj.profile_image.url}}>
          </div>
          <div class='thirteen wide column'>
            <h3>{{obj.user}}</h3>
            <p>{{obj.bio}}</p>
            <a href=""><button class='ui primary button w-big mb-5'>See Profile</button></a>
            <form action="{% url 'profiles:accept-invite' %}" method="POST">
              {% csrf_token %}
              <input type='hidden' name='profile_pk' value={{obj.pk}}>
              <button type="submit" class='ui positive basic button w-big mb-5'>
                <i class='check icon'></i>Accept Invite</button>
            </form>
            <form action="{% url 'profiles:reject-invite' %}" method="POST">
              {% csrf_token %}
              <input type='hidden' name='profile_pk' value={{obj.pk}}>
              <button type="submit" class='ui negative basic button w-big mb-5'>
                <i class='close icon'></i>Reject Invite</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
