{% extends 'base.html' %}

<!-- Title -->

{% block title %}
  My Profile
{% endblock title %}

<!-- Content -->

{% block content %}

<!-- Modal - Update Profile -->

<div class='ui modal mymodal'>
  <i class='close icon'></i>
  <div class='header'>
    Update your Profile
  </div>

  <div class='image content'>
    <div class='ui medioum image'>
      <img src={{profile.profile_image.url}}>
    </div>
    <div class='description'>
      <div class='ui header'>Provide some additional/newest information about you</div>
      <form action="" method="POST" class='ui form' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <div class='actions'>
          <button type="submit" class='ui positive right labeled icon button'>
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- My Profile -->

<div class='ui segment'>
  {% if confirm %}
    <div class="ui green message"> Your profile has been updated</div>
  {% endif %}

  <h3>My profile: {{request.user}}</h3>
  <div class='ui grid'>
    <div class='row'>
      <div class='six wide column'>
        <img class='ui medium rounded image' src={{profile.profile_image.url}}>
        <div class='row mt-5'>
          <button class='ui secondary button' id='modal-btn'>Update your profile</button>
        </div>
      </div>

      <div class='ten wide column'>
        <table class='ui table'>
          <tbody>
            <tr>
              <td>Username</td>
              <td>{{profile.user}}</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>{{profile.first_name}}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{profile.last_name}}</td>
            </tr>
            <tr>
              <td>Friends number</td>
              <td>{{profile.get_friends_count}}</td>
            </tr>
            <tr>
              <td>Friends list</td>
              <td>
                <ul>
                  {% for friend in profile.get_friends %}
                  <li>{{friend}}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Number of posts</td>
              <td>{{profile.get_posts_no}}</td>
            </tr>
            <tr>
              <td>Number of likes given</td>
              <td>{{profile.get_likes_given_no}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
