{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}

{% block content %}

<div class="ui placeholder segment">

  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Or</div>

      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <i class="address card outline icon"></i>
          </div>

          <div class="field">
            <div class="ui search">
                <a href="{% url 'account_login' %}" class='ui item primary button'>Login</a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui icon header">
            <i class="plus square outline icon"></i>
          </div>

          <div class="field">
            <div class="ui search">
              <a href="{% url 'account_signup' %}" class='ui primary button'>Create New Account</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts%}

{% endblock scripts%}
