body{
  background: #f1f0ea !important;
  color: #474448 !important;
}

.nav{
  border-radius: 0px !important;
  padding: 5px 0 5px 0 !important;
  background-color: #474448 !important;
}

.mb-7{
  margin-bottom: 7px !important;
}

.mb-5{
  margin-bottom: 5px !important;
}

.mt-5{
  margin-top: 5px !important;
}

.w-big{
  width: 200px !important;
}

.w-mid{
  width: 100px !important;
}

.mymodal{
  height: 300px !important;
  top: 200px !important;
  font-size: 20px !important;
}

.bwhite-lg{
  background-color: transparent !important;
}

.bwhite-sm{
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box{
  display: none;
}
